In [1]:
#Load the required libraries
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cryptocurrencies = ['ETH-USD']

In [5]:
data = yf.download(cryptocurrencies, start='2021-01-01',
                end='2021-12-30', interval='1h')
data.to_csv('ethereum2021.csv')
data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
2021-01-01 03:00:00+00:00,745.017761,747.411865,744.676086,746.319946,746.319946,0
2021-01-01 04:00:00+00:00,746.279907,747.090393,741.740967,743.210693,743.210693,0
2021-01-01 05:00:00+00:00,743.104675,743.659363,740.996887,741.686218,741.686218,1162848256
2021-01-01 06:00:00+00:00,741.622742,743.457153,738.731140,739.942627,739.942627,0
2021-01-01 07:00:00+00:00,739.959351,741.063477,736.538147,738.302551,738.302551,1005786112

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8496 entries, 2021-01-01 03:00:00+00:00 to 2021-12-30 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8496 non-null   float64
 1   High       8496 non-null   float64
 2   Low        8496 non-null   float64
 3   Close      8496 non-null   float64
 4   Adj Close  8496 non-null   float64
 5   Volume     8496 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 464.6 KB