In [1]:
#Load the required libraries
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cryptocurrencies = ['TERRA-USD']

In [3]:
data = yf.download(cryptocurrencies, start='2021-01-01',
                end='2021-12-30', interval='1h')
data.to_csv('ethereum2021.csv')
data.head()

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- TERRA-USD: No data found for this date range, symbol may be delisted

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8496 entries, 2021-01-01 03:00:00+00:00 to 2021-12-30 02:00:00+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       8496 non-null   float64
 1   High       8496 non-null   float64
 2   Low        8496 non-null   float64
 3   Close      8496 non-null   float64
 4   Adj Close  8496 non-null   float64
 5   Volume     8496 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 464.6 KB